@font-face {
    font-family: 'ALS Gorizont';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ALSGorizont21-MediumExpanded.woff2') format('woff2'),
    url('/fonts/ALSGorizont21-MediumExpanded.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'ALS Sirius';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ALSSirius-Regular.woff2') format('woff2'),
    url('/fonts/ALSSirius-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'ALS Sirius';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/ALSSirius-Medium.woff2') format('woff2'),
    url('/fonts/ALSSirius-Medium.woff') format('woff');
    font-display: swap;
}


